@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 120px;
  gap: 110px;
}

.description-container img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
}

.description-container .text-layout h1{
  font-family: Pretendard;
  color: #000000;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;

}

.description-container .text-layout p {
  font-family: Pretendard;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}